.hero{
    width: 100%;
    min-height: 100vh;
    padding: 80px 0 35px 0;
    background-color: ghostwhite;
}
.hero .card h1{
    color: rgb(4, 13, 102);
    font-weight: 700;
}
.btn-danger{
  border: 0;
  border-radius: 0;
}

.d_flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.homebox form{
    background: #fff;
    box-shadow: 0px 2px 5px gainsboro;
}
.searchbox {
    width: 100%;
    height: auto;
    padding: 15px;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .inputbox {
    width: 100%;
    height: 40px;
  }
  .hero input,
  .hero select {
    padding: 0px 20px;
    border: none !important;

  }
  .d_flex select {
    border: 1px solid black !important;
    border-radius: 0;
  }
.d_flex input{
  border: 1px solid black !important;
  padding: 5px 10px;

}
  .inputone {
    border-bottom: none !important;
    border-left: none !important;
    border-top: none !important;
    /* border-right: solid 1px grey !important; */
    
  }
  .dd_flex{
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .ddd_flex{
    display: flex;
    
    
  }
  .dd_flex .btn{
    padding: 5px 15px;
    margin-top: -15px;
    margin-right: 10px;
    height: 38px !important;
  }
  
  .date_inpu input{
    width: 180px !important;
    font-size: 14px !important;
  }

  .input_col{
    background-color: rgba(228, 225, 225,0.5);
    margin:0px 1px;
  }
  input:focus,
  select:focus {
    
    box-shadow: none !important;
    outline: none !important;
  }
  .sm_span{
    padding: 2px 5px;
    background-color: rgb(245, 241, 241);
    cursor: pointer;
  }

  .model_box{
    width: 100%;
    min-height: 100vh;
    position: fixed;
    top:0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(5, 5, 49,0.5);
    z-index: 99999;
  }
  .inner_model{
    width:700px;
    background-color: white;
    height: auto;
    padding: 15px;
    position: relative;
  }
  
  .cross{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgb(4, 13, 102);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    right: -10px;
    top:-10px;
  }

 
  
  @media (max-width:776px) {
    .inner_model{
        width: 90%;
        margin: 50px 0 ;
    }
    .model_box{
      position: absolute;
    }
    
  }


















  @media (max-width: 767px) {
    .search_Dev{
      margin: 10px;
    }
    .searchbox {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    .inputone {
      border-right: none !important;
      border-left: none !important;
      border-top: none !important;
      border-bottom: solid 0.5px rgba(199, 199, 199, 0.5) !important;
      margin-bottom: 15px;
    }
    .searchbox select {
      border-right: none !important;
      border-left: none !important;
      border-top: none !important;
      border-bottom: solid 0.5px rgba(199, 199, 199, 0.5) !important;
      margin-bottom: 15px;
    }
    form .btn-success {
      width: 100%;
    }
    .d_flex{
      flex-direction: column;

    }
    .ddd_flex{
      width: 100%;
      justify-content: space-between;
      align-items: center;
    }
    .dd_flex{
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .dd_flex .btn{
      
     margin-top: -30px;
    }
  }



  